---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Search | The Last Elder</title>

    <link rel="stylesheet" href="/pagefind/pagefind-ui.css" />
    <script is:inline src="/pagefind/pagefind-ui.js"></script>
  </head>
  <body style="margin: 2rem; font-family: system-ui, sans-serif;">
    <h1>Search</h1>

    <div id="search"></div>

    <script>
      window.addEventListener("DOMContentLoaded", () => {
        // @ts-ignore
        new PagefindUI({ element: "#search", showSubResults: true });
      });
    </script>
  </body>
</html>
